In [1]:
import numpy as np
import pandas as pd

In [20]:
def f(df,x):
    return len(df[x].value_counts()),df[x].value_counts()

In [139]:
d = pd.read_csv('table3.csv')
d = d.drop(['ID'],axis=1)

In [29]:
d.head(3)

,pro_cde,lic_id,lic_nbr,l_name,f_name,m_name,name_suffix,ml_addr_line1,ml_addr_line2,ml_addr_city,...,lic_sta_cde,lic_actv_sta_cde,lic_sta_desc,lic_actv_sta_desc,rank_cde,rank_desc,yr_began_practice,rank_efct_dte,orig_dte,expr_dte
0,1901,1555,2607,RICHARD,RONALD,J,NaN,991 WYLIE RD #168,NaN,MARIETTA,...,60,NaN,NULL AND VOID,NaN,OS,Osteopathic Physician,NaN,8/10/70,8/10/70,12/31/1987
1,1901,1556,2608,HAMMOND,JOHN,E,NaN,3252 NEWGATE CT,NaN,DUBLIN,...,46,NaN,VOL-RELINQ,NaN,OS,Osteopathic Physician,NaN,8/10/70,8/10/70,12/31/1989
2,1901,1557,2609,HEIST,KENNETH,P,NaN,1 A REGULUS DR,NaN,TURNERSVILLE,...,60,NaN,NULL AND VOID,NaN,OS,Osteopathic Physician,NaN,8/10/70,8/10/70,01/31/2002

In [30]:
d.shape

(204776, 41)

# Dataset 1 Educations

In [27]:
#education
d1 = pd.read_csv('Education_history.csv')
d1 = d1.drop(['ID'],axis=1)
d1.shape
d1 = d1[['lic_id','pro_cde','inst_nme','deg_cert_earn_cde']]

/Users/evelynz/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (9,12,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
d10 = d1.drop_duplicates(['lic_id','pro_cde'])
d10.shape

(625844, 4)

In [28]:
d1.head(3)

   lic_id  pro_cde inst_nme deg_cert_earn_cde
0   13518      501  UNKNOWN               NaN
1   13517      501  UNKNOWN               NaN
2   13518      501  UNKNOWN               NaN

In [31]:
d1.shape

(696085, 4)

In [41]:
dd1 = pd.merge(d,d10,how='left',on = ['lic_id','pro_cde'])

In [42]:
dd1.shape

(204776, 43)

In [45]:
dd1.tail(5)

,pro_cde,lic_id,lic_nbr,l_name,f_name,m_name,name_suffix,ml_addr_line1,ml_addr_line2,ml_addr_city,...,lic_sta_desc,lic_actv_sta_desc,rank_cde,rank_desc,yr_began_practice,rank_efct_dte,orig_dte,expr_dte,inst_nme,deg_cert_earn_cde
204771,1501,131034,131501,YUAN,CAI,NaN,NaN,737 LAKE CREST COVE,NaN,ALTAMONTE SPRINGS,...,CLEAR,ACTIVE,ME,Medical Doctor,07/01/2014,3/3/17,3/3/17,01/31/2019,SUN YAT-SEN UNIVERSITY,MBBS
204772,1507,1115,894,CASTILLO DELGADO,EVELYN,E,NaN,PO BOX 2064,NaN,HATILLO,...,CLEAR,ACTIVE,ACN,Area of Critical Need Medical Doctor,NaN,2/9/17,2/9/17,01/31/2018,NaN,NaN
204773,1701,574746,9448901,CARTY,ELLEN,T,NaN,110 BUCKSKIN PATH,NaN,CENTERVILLE,...,CLEAR,ACTIVE,ARNP,Adv Reg Nurse Practitioner,11/10/2016,12/6/16,12/2/16,07/31/2018,Old Dominion University,MSN
204774,1501,132213,131401,Friedman,Eitan,Reuven,NaN,1121 University Blvd W Apt 703,NaN,SILVER SPRING,...,CLEAR,ACTIVE,ME,Medical Doctor,07/01/2011,2/24/17,2/24/17,01/31/2019,UNIVERSITY OF MARYLAND BALTIMORE COUNTY,NaN
204775,1901,14056,14394,Peek,Elizabeth,Dantzler,NaN,3823 West Obispo St,NaN,TAMPA,...,CLEAR,ACTIVE,OS,Osteopathic Physician,NaN,1/6/17,1/6/17,03/31/2018,LAKE ERIE COLLEGE OF OSTEOPATHIC,DOCTOR OF OSTEOPATHIC MEDICINE

# Dataset 2 Certifications

In [25]:
# Certifications
d2 = pd.read_csv('Tp_certifications.csv')
d2 = d2.drop(['ID'],axis=1)
f(d2,'specialty_cert')
d2 = d2.drop(['specialty_brd'],axis=1)
d2.head(3)

   pro_cde  lic_id     rec_id                specialty_cert
0     1501  132355  105957269         TS - THORACIC SURGERY
1     1501  132355  105957268                  GS - SURGERY
2     1501  132492  105634674  IM - HEMATOLOGY AND ONCOLOGY

In [100]:
def countfreq(d2):
    a = {}
    for i in range(d2.shape[0]):
        if a.get((d2['pro_cde'].ix[i], d2['lic_id'].ix[i])) == None:
            a[(d2['pro_cde'].ix[i], d2['lic_id'].ix[i])] = 1
        else:
            a[(d2['pro_cde'].ix[i], d2['lic_id'].ix[i])] += 1
    l1,l2,l3=[],[],[]
    for (k1,k2),v in a.items():
        l1.append(k1)
        l2.append(k2)
        l3.append(v)
    return l1, l2, l3

In [92]:
d2a = pd.DataFrame({'pro_cde':l1,'lic_id':l2,'specialty_cert_count':l3})

In [93]:
d2a.shape

(111734, 3)

In [94]:
dd2 = pd.merge(dd1,d2a,how='left',on = ['lic_id','pro_cde'])

In [95]:
dd2.shape

(204776, 44)

In [97]:
dd2['specialty_cert_count'].fillna(0, inplace=True)

In [98]:
dd2

,pro_cde,lic_id,lic_nbr,l_name,f_name,m_name,name_suffix,ml_addr_line1,ml_addr_line2,ml_addr_city,...,lic_actv_sta_desc,rank_cde,rank_desc,yr_began_practice,rank_efct_dte,orig_dte,expr_dte,inst_nme,deg_cert_earn_cde,specialty_cert_count
0,1901,1555,2607,RICHARD,RONALD,J,NaN,991 WYLIE RD #168,NaN,MARIETTA,...,NaN,OS,Osteopathic Physician,NaN,8/10/70,8/10/70,12/31/1987,NaN,NaN,0.0
1,1901,1556,2608,HAMMOND,JOHN,E,NaN,3252 NEWGATE CT,NaN,DUBLIN,...,NaN,OS,Osteopathic Physician,NaN,8/10/70,8/10/70,12/31/1989,NaN,NaN,0.0
2,1901,1557,2609,HEIST,KENNETH,P,NaN,1 A REGULUS DR,NaN,TURNERSVILLE,...,NaN,OS,Osteopathic Physician,NaN,8/10/70,8/10/70,01/31/2002,PHILADELPHIA COLLEGE OF OSTEOP,DO,1.0
3,1901,1558,2610,FOSTER,LAWRENCE,A,NaN,16499 SNEFFELS CT,NaN,BROOMFIELD,...,NaN,OS,Osteopathic Physician,01/01/1969,8/10/70,8/10/70,03/31/2006,PHILADELPHIA COLLEGE OF OSTEOP,DO,1.0
4,1901,1559,2611,HIMES,GEORGE,E,NaN,3921 BEECHER RD,NaN,FLINT,...,NaN,OS,Osteopathic Physician,NaN,8/10/70,8/10/70,12/31/1989,NaN,NaN,0.0

# Dataset 3 faculty appt

In [88]:
#faculty appt
d3 = pd.read_csv('Tp_faculty_appt.csv')

In [89]:
d3.head(5)

,ID,pro_cde,lic_id,rec_id,faculty_title,city,fclty_apt_inst,state
0,1,1501,129553,94736039,CLINICAL ASSOCIATE PROFESSOR IN MEDICINE AND PM&R,PHILADELPHIA,THOMAS JEFFERSON UNIVERSITY,PA
1,2,1501,129550,94735931,CLINICAL PROFESSOR OF FAMILY MEDICINE,EAST LANSING,MICHIGAN STATE UNIVERSITY COLLEGE OF HUM,MI
2,3,1501,111351,94716730,ASSISTANT POFESSOR,PONCE,PONCE SCHOOL OF MEDICINE,PR
3,4,1501,129507,94698772,SYNY BUFFALO,NaN,NaN,NaN
4,5,1501,129540,94701153,ASSISTANT PROFESSOR OF ANESTHESIOLOGY,BRONX,ALBERT EINSTEIN COLLEGE OF MEDICINE OF Y,NY

In [90]:
d3.shape

(33996, 8)

In [101]:
l1, l2, l3 = [], [], []
l1, l2, l3 = countfreq(d3)

In [103]:
d3a = pd.DataFrame({'pro_cde':l1,'lic_id':l2,'fclty_apt_count':l3})

In [105]:
d3a.tail(10)

       fclty_apt_count  lic_id  pro_cde
27766                1  161668     1701
27767                1  126367     1501
27768                1   91307     1501
27769                2   74689     1501
27770                1   65399     1501
27771                1   19692     1501
27772                2   88014     1501
27773                1   13753     1501
27774                1  424044     1701
27775                1   19451     1501

In [106]:
dd3 = pd.merge(dd2,d3a,how='left',on = ['lic_id','pro_cde'])

In [107]:
dd3.shape

(204776, 45)

In [108]:
dd3['fclty_apt_count'].fillna(0, inplace=True)

# Dataset 4 Tp_financial_resp

In [111]:
# Tp_financial_resp
d4 = pd.read_csv('Tp_financial_resp.csv')

In [112]:
d4.shape

(154005, 8)

In [119]:
f(d4,'financial_exempt')

(6, 4.0    29394
 5.0    13287
 1.0    10525
 6.0     7007
 3.0     3787
 2.0     1004
 Name: financial_exempt, dtype: int64)

In [120]:
d4 = d4.drop(['insured_10_yr','ID'],axis=1)

In [122]:
dd4 = pd.merge(dd3,d4,how='left',on = ['lic_id','pro_cde'])

In [123]:
dd4.shape

(204776, 49)

In [124]:
dd4.head()

,pro_cde,lic_id,lic_nbr,l_name,f_name,m_name,name_suffix,ml_addr_line1,ml_addr_line2,ml_addr_city,...,orig_dte,expr_dte,inst_nme,deg_cert_earn_cde,specialty_cert_count,fclty_apt_count,financial_resp,financial_exempt,liability_claim,insured
0,1901,1555,2607,RICHARD,RONALD,J,NaN,991 WYLIE RD #168,NaN,MARIETTA,...,8/10/70,12/31/1987,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1901,1556,2608,HAMMOND,JOHN,E,NaN,3252 NEWGATE CT,NaN,DUBLIN,...,8/10/70,12/31/1989,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1901,1557,2609,HEIST,KENNETH,P,NaN,1 A REGULUS DR,NaN,TURNERSVILLE,...,8/10/70,01/31/2002,PHILADELPHIA COLLEGE OF OSTEOP,DO,1.0,0.0,2.0,NaN,Y,Y
3,1901,1558,2610,FOSTER,LAWRENCE,A,NaN,16499 SNEFFELS CT,NaN,BROOMFIELD,...,8/10/70,03/31/2006,PHILADELPHIA COLLEGE OF OSTEOP,DO,1.0,1.0,6.0,4.0,NaN,Y
4,1901,1559,2611,HIMES,GEORGE,E,NaN,3921 BEECHER RD,NaN,FLINT,...,8/10/70,12/31/1989,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

# Dataset 5 Tp_other_health_dg

In [125]:
d5 = pd.read_csv('Tp_other_health_dg.csv')
d5.shape

(35979, 10)

In [126]:
d5.head(5)

,ID,pro_cde,lic_id,rec_id,school_name,city,state/country,attended_from,attended_to,degree_title
0,1,501,5109,36520780,EMORY UNIVERSITY SCHOOL OF PUBLIC HEALTH,ATLANTA,GEORGIA,08/01/2006,12/12/2008 0:00:00,MMSP
1,2,501,11205,36653781,SALISBURY UNIVERSITY,SALISBURY,MARYLAND,NaN,5/22/2003 0:00:00,BOS
2,3,501,11209,36735743,INDIANA UNIVERSITY,BLOOMINGTON,INDIANA,NaN,12/15/1999 0:00:00,BOS
3,4,501,11215,36936091,NORTHERN MICHIGAN UNIVERSITY,MARQUETTE,MICHIGAN,NaN,8/15/2006 0:00:00,BOS
4,5,501,11212,36935819,UNIVERSITY OF MARYLAND,COLLEGE PARK,MARYLAND,NaN,12/20/1996 0:00:00,BOS

In [128]:
l1, l2, l3 = [], [], []
l1, l2, l3 = countfreq(d5)

In [130]:
d5a = pd.DataFrame({'pro_cde':l1,'lic_id':l2,'other_health_dg_count':l3})

In [136]:
d5a['other_health_dg_count'].value_counts()

1    28027
2     3191
3      388
4       69
5       13
6        6
7        3
8        1
Name: other_health_dg_count, dtype: int64

In [131]:
dd5 = pd.merge(dd4,d5a,how='left',on = ['lic_id','pro_cde'])

In [132]:
dd5.shape

(204776, 50)

In [133]:
dd5['other_health_dg_count'].fillna(0, inplace=True)

In [138]:
dd5['other_health_dg_count'].value_counts()

0.0    169111
1.0     31303
2.0      3821
3.0       433
4.0        86
5.0        12
6.0         7
7.0         3
Name: other_health_dg_count, dtype: int64

# Dataset 6 Tp_prof_post_grad

In [143]:
d6 = pd.read_csv('Tp_prof_post_grad.csv')

In [144]:
d6.shape

(266275, 12)

In [145]:
d6.head(10)

,ID,pro_cde,lic_id,rec_id,program_spclty_ar,city,state/country,attend_from,attend_to,institute_name,program_type,other_spclty_ar
0,1,501,3781,28571232,OTHER,PASADENA,TX,1/6/2002 0:00:00,6/7/2002 0:00:00,TEXAS CHIROPRACTIC COLLEGE,OTHER PROGRAM,QUALIFIED EXPERT WITNESS
1,2,501,5376,29149540,N - NEUROLOGY,ATLANTA,GA,1/11/2002 0:00:00,1/15/2004 0:00:00,CARRICK INSTITUTE,OTHER PROGRAM,CHIROPRACTIC NEUROLOGY
2,3,501,3846,29149539,OTHER,BOCA RATON,FL,3/21/2007 0:00:00,4/21/2007 0:00:00,MANIPULATION UNDER ANESTHESIA,OTHER PROGRAM,NaN
3,4,501,5484,29133167,ORTHOPEDICS,LOMBARD,US,9/1/1995 0:00:00,10/3/1999 0:00:00,CHIROPRACTIC ORTHOPEDICS,OTHER PROGRAM,NaN
4,5,501,1299,29053111,CHIROPRACTIC INTERNSHIP/RESIDENCY,JACKSONVILLE,FL,8/23/1987 0:00:00,3/3/1991 0:00:00,CHIROPRACTIC ORTHOPEDIC DIPLOMAT PROGRAM,OTHER PROGRAM,NaN
5,6,501,8600,29255182,OTHER,FORT MYERS,FL,11/19/2007 0:00:00,11/21/2007 0:00:00,MANUPULATION UNDER ANESTHESIA,OTHER PROGRAM,NaN
6,7,501,5904,29231642,IM - SPORTS MEDICINE,MINNEAPOLIS,MN,9/1/1999 0:00:00,9/1/2000 0:00:00,CERTIFIED CHIROPRACTIC SPORTS PHYSICIAN,OTHER PROGRAM,NaN
7,8,501,1549,29284759,P - ADDICTION PSYCHIATRY,JERUSALEM,*IL,1/1/2004 0:00:00,1/2/2004 0:00:00,ISRAEL CERTIFICATION BOARD OF ADDICTION PROFES...,OTHER PROGRAM,BOARD CERTIFIED--CASAP CREDENTIAL ADDICTION ME...
8,9,501,1549,29284758,OTHER,LOMBARD,IL,9/4/1973 0:00:00,4/19/1975 0:00:00,NATIONAL COLLEGE,OTHER PROGRAM,BS DEGREE-HUMAN ANATOMY
9,10,501,1549,29284755,OTHER,BOCA RATON,FL,8/1/1970 0:00:00,8/1/1977 0:00:00,FLORIDA ATLANTIC UNIVERSITY,OTHER PROGRAM,BFA DEGREE FINE ARTS AND CHEMISTRY

In [146]:
d6a = d6.groupby(['pro_cde', 'lic_id']).size().reset_index(name = 'Tp_prof_post_grad_count')

In [148]:
dd6 = pd.merge(dd5,d6a,how='left',on = ['lic_id','pro_cde'])

In [150]:
dd6.shape

(204776, 51)

In [151]:
dd6.head()

,pro_cde,lic_id,lic_nbr,l_name,f_name,m_name,name_suffix,ml_addr_line1,ml_addr_line2,ml_addr_city,...,inst_nme,deg_cert_earn_cde,specialty_cert_count,fclty_apt_count,financial_resp,financial_exempt,liability_claim,insured,other_health_dg_count,Tp_prof_post_grad_count
0,1901,1555,2607,RICHARD,RONALD,J,NaN,991 WYLIE RD #168,NaN,MARIETTA,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
1,1901,1556,2608,HAMMOND,JOHN,E,NaN,3252 NEWGATE CT,NaN,DUBLIN,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN
2,1901,1557,2609,HEIST,KENNETH,P,NaN,1 A REGULUS DR,NaN,TURNERSVILLE,...,PHILADELPHIA COLLEGE OF OSTEOP,DO,1.0,0.0,2.0,NaN,Y,Y,0.0,2.0
3,1901,1558,2610,FOSTER,LAWRENCE,A,NaN,16499 SNEFFELS CT,NaN,BROOMFIELD,...,PHILADELPHIA COLLEGE OF OSTEOP,DO,1.0,1.0,6.0,4.0,NaN,Y,0.0,1.0
4,1901,1559,2611,HIMES,GEORGE,E,NaN,3921 BEECHER RD,NaN,FLINT,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN

In [152]:
dd6['Tp_prof_post_grad_count'].fillna(0, inplace=True)

# Dataset 7 Tp_publications

In [155]:
d7 = pd.read_csv('Tp_publications.csv')

In [156]:
d7.shape

(38175, 7)

In [157]:
d7.head(10)

,ID,pro_cde,lic_id,rec_id,publication,article_title,date_of_pub
0,1,501,5823,95232562,JOURNAL OF BACK & MUSCULOSKELETAL REHABILITATION,PIRIFORMIS INVOLVEMENT IN DANCERS WITH LOW BAC...,01/01/1995
1,2,501,3135,95232561,CHIROPRACTIC PEDIATRICS,REDUCTION OF VERTEBRAL SUBLUXATION IN CHILD W ...,04/01/1996
2,3,501,3135,95232560,INTERNATIONAL REVIEW OF CHIROPRACTIC,CARING FOR THE PHYSICALLY CHALLENGED ATHLETE,05/31/1996
3,4,501,1354,95232559,MIAMI BUSINESS JOURNAL,HMO'S,NaN
4,5,501,1354,95232558,INTERNATIONAL CHIROPRACTIC JOURNAL,HMO'S,NaN
5,6,501,1354,95232557,FLORIDA CHIROPRACTIC ASSOCIATION JOURNAL,HMOS COST CONTAINMENT,NaN
6,7,501,5291,95232556,FCA COUNCIL ON SPORTS INJURIES JOURNAL,EFFECTS OF JOINT INJURIES ON PROPRIOCEPTION,01/01/1992
7,8,501,5291,95232555,CHIROPRACTIC SPORTS MEDICINE,PROTOCOLS FOR PROPRIOCEPTIVE ACTIVE RETRAINING...,05/01/1995
8,9,501,4344,95232554,SCHOLARS CONSORTIUM LLC,MYELOPATHY RADICULOPATHY AND PERIPHERAL ENTRAP...,01/01/2013
9,10,501,5937,95232552,NaN,N,NaN

In [158]:
d7a = d7.groupby(['pro_cde', 'lic_id']).size().reset_index(name = 'Tp_publications_count')

In [159]:
d7a.head()

   pro_cde  lic_id  Tp_publications_count
0      501     146                      3
1      501     205                      2
2      501     222                      1
3      501     272                      2
4      501     295                      3

In [160]:
dd7 = pd.merge(dd6,d7a,how='left',on = ['lic_id','pro_cde'])

In [161]:
dd7.shape

(204776, 52)

In [162]:
dd7['Tp_publications_count'].fillna(0, inplace=True)

# Dataset 8 Tp_honors

In [166]:
d8 = pd.read_csv('Tp_honors.csv')

In [167]:
d8.shape

(49490, 6)

In [168]:
d8.head()

,ID,pro_cde,lic_id,rec_id,honors_awards,organization
0,1,501,6852,95216289,PAST PRESIDENT,POMPANO LIGHTHOUSE ROTARY CLUB
1,2,501,10694,95216279,NaN,FLORIDA CHIROPRACTIC ASSOCIATION
2,3,501,10692,95216278,WHO'S WHO IN CHIROPRACTIC 1980,NYSCA
3,4,501,10689,95216275,HUMANITARIAN AWARD FOR CHIRO SERV IN VIETNAM,FLORIDA CHIROPRACTIC ASSOCIATION
4,5,501,10581,95216273,GRADUATED MAGNA CUM LAUDE,PALMER COLLEGE OF CHIROPRACTIC FLORIDA

In [169]:
d8a = d8.groupby(['pro_cde', 'lic_id']).size().reset_index(name = 'Tp_honors_count')

In [172]:
d8a.head()

   pro_cde  lic_id  Tp_honors_count
0      501      85                1
1      501     100                1
2      501     107                1
3      501     109                1
4      501     134                7

In [173]:
dd8 = pd.merge(dd7,d8a,how='left',on = ['lic_id','pro_cde'])

In [174]:
dd8.shape

(204776, 53)

In [175]:
dd8['Tp_honors_count'].fillna(0, inplace=True)

# Dataset 9 Tp_memberships

In [179]:
d9 = pd.read_csv('Tp_memberships.csv')

In [180]:
d9.shape

(44580, 5)

In [181]:
d9.head()

,ID,pro_cde,lic_id,rec_id,comm_member
0,1,501,3308,95202983,PAST MEMBER CREDENTIALING COMMITTEE PBC HEALT...
1,2,501,4432,95202982,EMA
2,3,501,4753,95202981,"FCA, KEYWEST HS ATHLETICS,"
3,4,501,6307,95202980,BREVARD COUNTY CHIRO SOCIETY PUBLIC AFFAIRS OF...
4,5,501,9978,95202979,FLORIDA CHIROPRACTIC ASSOCIATION

In [182]:
d9a = d9.groupby(['pro_cde', 'lic_id']).size().reset_index(name = 'Tp_memberships_count')

In [183]:
d9a.head()

   pro_cde  lic_id  Tp_memberships_count
0      501      62                     1
1      501      85                     3
2      501      98                     1
3      501     109                     2
4      501     118                     1

In [184]:
dd9 = pd.merge(dd8,d9a,how='left',on = ['lic_id','pro_cde'])

In [185]:
dd9.shape

(204776, 54)

In [186]:
dd9['Tp_memberships_count'].fillna(0, inplace=True)

# Dataset 10 Tp_closed_claim

In [189]:
d10 = pd.read_csv('Tp_closed_claim.csv')

In [190]:
d10.shape

(6669, 10)

In [191]:
d10.head()

,ID,pro_cde,lic_id,rec_key,county,case_number,incident_date,settlement_date,settlement_amt,policy_amt
0,1,1901,10316,5490856,BROWARD,15-007429,12/4/2013 0:00:00,7/1/2016 0:00:00,250000,250000.0
1,2,1901,10932,5703391,NaN,NaN,9/13/2010 0:00:00,3/9/2016 0:00:00,500000,1000000.0
2,3,1901,3664,11204,CITRUS,2016 CA 0000 18A,1/10/2014 0:00:00,10/20/2016 0:00:00,250000,250000.0
3,4,1901,7979,15997,HERNANDO,CA-12-2338,1/22/2011 0:00:00,4/20/2016 0:00:00,150000,NaN
4,5,1901,8105,16139,CHARLOTTE,13-002153,8/8/2011 0:00:00,4/4/2016 0:00:00,250000,NaN

In [194]:
d10a = d10.groupby(['pro_cde', 'lic_id']).size().reset_index(name = 'Tp_closed_claim_count')

In [195]:
d10a

      pro_cde  lic_id  Tp_closed_claim_count
0         501    1143                      1
1         501    1244                      1
2         501    1695                      1
3         501    1724                      1
4         501    1971                      1
5         501    2761                      1
6         501    2787                      1
7         501    3071                      1
8         501    3472                      1
9         501    3744                      1
10        501    4143                      1
11        501    4210                      1
12        501    4264                      1
13        501    4573                      2
14        501    4621                      1
15        501    4904                      1
16        501    5141                      1
17        501    5152                      1
18        501    5300                      1
19        501    5440                      1
20        501    5496                      1
21        501    5556                      1
22        501    5789                      1
23        501    6128                      1
24        501    6199                      1
25        501    6333                      1
26        501    6339                      1
27        501    6350                      1
28        501    8474                      1
29        501    8636                      1
...       ...     ...                    ...
5168     2101    2801                      2
5169     2101    2803                      3
5170     2101    2805                      2
5171     2101    2817                      1
5172     2101    2834                      3
5173     2101    2842                      4
5174     2101    2856                      1
5175     2101    2896                      1
5176     2101    2908                      1
5177     2101    2933                      2
5178     2101    2951                      1
5179     2101    2957                      1
5180     2101    2981                      1
5181     2101    2989                      3
5182     2101    3037                      1
5183     2101    3053                      2
5184     2101    3151                      1
5185     2101    3174                      2
5186     2101    3193                      1
5187     2101    3204                      2
5188     2101    3228                      1
5189     2101    3257                      3
5190     2101    3259                      1
5191     2101    3260                      1
5192     2101    3293                      3
5193     2101    3306                      1
5194     2101    3406                      1
5195     2101    3442                      1
5196     2101    3449                      1
5197     2101    3650                      1

[5198 rows x 3 columns]